<!-- template for Task ItemView -->

<div class="row-fluid" id="task">
    <div class="span2">
        Status: <span class="status">{{ status }}</span>
    </div>
    <div class="span8">
        Task: <span contenteditable="false" class="task_text">{{ task_name }}</span>
    </div>
    <div class="span1">
        <button type="button" class="completed_button">Complete</button>
    </div>
    <div class="span1">
        <button type="button" class="delete_button">Delete</button>
    </div>
</div>
